/* 
  GLOBAL STYLES
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --body-text: #374151;
  --body-text-muted: #6b7280;
  --body-text-disabled: #dfdddd;
  --white: #fff;
  --border-color: #ccc;
  --accent-color: #5ce1e6;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: "Lexend", sans-serif;
  font-weight: 300;
  color: var(--body-text);
  line-height: 1.33;
}

/* 
  HEADER
*/

header {
  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    no-repeat center/cover url("./img/hero-bg.png");
  height: 18vh;
  display: flex;
  align-items: center;
}

header .inner-container {
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .title {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--white);
}

header .nav-btn {
  text-decoration: none;
  color: var(--white);
}

header .nav-btn:hover,
header .nav-btn:focus {
  text-decoration: underline;
}

header .search-bar {
  display: flex;
  position: absolute;
  bottom: -3.5em;
  width: 100%;
}

header input[type="search"] {
  width: 100%;
  border-radius: 6px 0 0 6px;
  background-color: white;
  background-image: url("https://www.w3schools.com/css/searchicon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

header input[type="search"],
header .search-btn {
  border: 1px solid var(--border-color);
  font-size: 1rem;
}

header .search-btn {
  padding: 0.75em 2.5em;
  border-radius: 0 6px 6px 0;
  border-left: none;
  color: #333;
}

/* 
  MAIN
*/

main {
  display: flex;
  min-height: 80vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

main .empty-list,
main .no-search-results {
  align-self: center;
  justify-self: center;
  margin: 0 auto;
  text-align: center;
  color: var(--body-text-disabled);
}

/* 
  MOVIE LIST / MOVIE CARD
*/

.movie-list {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2em;
  padding: 4em 0 2em 0; */
  width: 100%;
}

.movie-card {
  display: flex;
  width: 100%;
}

.movie-card img {
  max-width: 100px;
  min-height: 100%;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  aspect-ratio: 100/145;
}

.movie-card .movie-info {
  display: flex;
  margin-left: 1em;
  flex-direction: column;
  justify-content: center;
  /* gap: 0.125em; */
}

.movie-card .movie-header {
  display: flex;
  align-items: center;
  gap: 1em;
}

.movie-card .movie-title {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0 0 0.125em 0;
}

.movie-card .movie-rating::before {
  content: url(./img/star-icon.svg);
  margin-right: 0.25em;
  width: 1em;
  height: 1em;
}

.movie-card .movie-meta {
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  gap: 1em;
}

.movie-card .movie-runtime,
.movie-card .movie-genre,
.add-watchlist-btn {
  font-size: 0.75rem;
  font-weight: 500;
}

.add-watchlist-btn {
  display: flex;
  align-self: center;
  border: none;
  background: none;
  padding: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-watchlist-btn span {
  color: var(--body-text);
  font-weight: 600;
  margin: auto 0;
}

.add-watchlist-btn img {
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.5em;
}

.add-watchlist-btn:hover,
.add-watchlist-btn:focus {
  background-color: var(--accent-color);
  border-radius: 5px;
}

.movie-card .movie-summary {
  margin-top: 0.5em;
  font-size: 0.875rem;
  color: var(--body-text-muted);
}

/* 
  UTILITY
*/

.hidden {
  display: none;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 2em;
}
